/*
    Colors -
    Background - #FAFAFA
    Cards/Dialogs - #FFFFFF
    Navbar/Header - #F5F5F5
*/

html {
    font-size: 100%;
}

body {
    background-color: #FAFAFA;
}

a:link,
a:visited {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    color: #212121;
}

#header-index {
    width: 100%;
    margin: 0.5rem 0 0.75rem 0;
}

#header-index nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    font-weight: 590;
    font-size: 1.25rem;
}

#header-index nav a {
    padding-right: 0.35rem;
    border-right: solid #E0E0E0 0.1rem;
}

#header-index nav a:last-child {
    border-right: none;
}

#header-index img {
    width: 90%;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.25rem;
}

.card-wide {
    background: #FFFFFF;
    border-radius: 0.125rem;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0.5rem 0 0.75rem 0;
    box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
}

.card-wide img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0rem;
}