body {
    background-color: #FAFAFA;
    font-size: 100%;
}

a:link {
    color: #37474F;
    text-decoration: none;
}

a:hover {
    color: #607D8B;
}

a:visited,
a:active {
    color: #616161;
    text-decoration: none;
}

#header-index {
    width: 100%;
    margin: 0.5em 0 0.5em 0;
}

#header-index nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    font-weight: 550;
    font-size: 1.05em;
    border-top: solid #E0E0E0 0.1em;
}

#header-index img {
    width: 80%;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}